<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mechat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeChat"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 启动界面 -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 修改密码界面 -->
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 好友列表界面 -->
        <activity
            android:name=".activity.FriendListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 聊天界面 -->
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- 好友详情界面 -->
        <activity
            android:name=".activity.FriendDetailActivity"
            android:exported="false" />

        <!-- 数据库查看界面 -->
        <activity
            android:name=".activity.DatabaseViewActivity"
            android:exported="false" />

    </application>

</manifest>